
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'Neopixel';
  src: url('/fonts/neopixel.woff2') format('woff2'),
       url('/fonts/neopixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
